@import url(root.css);

:root {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;

    --theme-background: var(--color-background-light);
    --theme-text: var(--color-base-black);
    --theme-primary: var(--color-primary-light);
    --theme-secondary: var(--color-secondary-light);
    --theme-primaryRev: var(--color-primaryRev-light);
    --theme-secondaryRev: var(--color-secondaryRev-light);
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--theme-background);
}

h1 {
    font-family: "Fugaz One", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

/* *$ec* Especificos */

/* *$oc* Overlays */

.overlays {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: var(--color-overlays);

    transition: opacity .3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
}


#overlay-header {
    z-index: 104;
}
.overlays.show {
    pointer-events: all;
    opacity: 1;
}

/* *$oc* Button to Skip to Main Content */
#link-skip-main {
    position: fixed;
    top: 1em;
    left: 1em;
    /* Style */
    background-color: var(--color-primary-light);
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
    /* Text */
    color: var(--color-base-white);
    font-weight: 700;
    font-size: calc(1rem + 0.4vw);
    text-decoration: none;
    letter-spacing: 2px;
    /* Can Change */
    border: none;
    opacity: 0;
}
#link-skip-main:focus {
    border: 4px solid var(--color-success);
    opacity: 1;
    outline: 4px solid var(--color-success);
}

/* Small Width */
@media screen and (max-width: 600px) {
    #link-skip-main {
        display: none;
    }
}

/* bsIcons */
.bsIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

/* hvAnim */
.hvAClick {
    cursor: pointer;
}
.hvAnim {
    position: relative;
}
.hvAnim::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--color-base-white);
    height: 2px;
    border: none;
    border-radius: 0.4em;
    width: 0;
    transition: width .3s ease-in-out;
}
.hvAnim:hover::before {
    width: 100%;
}
.fLeft::before {
    left: 0;
    translate: 0 0;
}
.fMid::before {
    left: 50%;
    translate: -50% 0;
}
.fRight::before {
    right: 0;
    translate: 0 0;
}

.hvAnim.active::before {
    width: 100%;
}

/* Small Width */
@media screen and (max-width: 600px) {
    .hvAnim::before {
        display: none;
    }
}

/* hasTp */