@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* Fontes */
    --font-fugazOne: "Fugaz One", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    /* Colors */
    /* Background */
    --color-background-light: #f4f4f4;
    --color-background-dark: #121212;
    /* Overlays */
    --color-overlays: #000000aa;
    /* Primary */
    --color-primary: #8a0b12;
    /* Secondary */
    --color-secondary: #ae0d15;
    /* Primary Reverse */
    --color-primaryRev: #0b428a;
    /* Secondary Reverse */
    --color-secondaryRev: #0d6bae;
    /* Bases */
    --color-base-white: #ffffff;
    --color-base-black: #000000;
    /* Hover */
    --color-hover-light: #7a7a7a80;
    --color-hover-dark: #f4f4f480;
    /* Transparent's */
    --color-primary-t: #8a0b11bb;
    --color-primaryRev-t: #0b428abb;

    --color-success: #22bb33;
    --color-warning: #f0ad4e;
    --color-danger: #bb2124;
    --color-outline: #aaaaaa;

    --color-gold: #EFBF04;
}